.vertical-menu {
    width: 100%; /* Set a width if you like */
    color: white;
    display: inline-block; /* Make the links appear below each other */
    padding: 10px 5px; /* Add some padding */
    text-align: left;
    text-decoration: none; /* Remove underline from links */
    font-weight:400;  
    
  }
  .menu{
    margin: 10px 5px;
    font-size: 20px;
  }
  .menu:hover {
    background-color:#eee; /* Dark grey background on mouse-over */
    color:#2c3e50;
    }

  .dateAndTime{
    color: white;
    font-size: 14px;
    bottom: 0;
    position:absolute;
  }

  input[type=email] {
    background-color:whitesmoke;
    color: black;
  }

  .searchForm{
    margin:20px 0px;
    font-size: 20px;
    width: 100%;
}

.resultImages{
    display: flex;
    padding: 5px 10px;
   /* border: 2px solid #2c3e50; */
    justify-content: space-between;
    background-color:white;
    font-weight: 600;
    margin-top: 10px;
    transition: 0.5s;
}

.resultImages:hover{
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
}

#searchResults{
    overflow-y:scroll ;
    height: 80%;
    width: 100%;
    /*border: #2c3e50 2px solid;*/
    
}

.channelDiv{
  float: left;
  overflow-x: scroll; 
  overflow-y: hidden;
  width: 100%;
  
  /*border: 2px solid #2c3e50;*/
  background-color: white;
  margin: 20px 10px;  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
    
  
}

.videosofthechannel{
  justify-content: space-between;
  margin: 10px 20px;
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5); 
  
    
}


.channelContent{
  display: inline-flex; 
}


.channelTitle{
  position: relative;
  color: white;
  background-color: #2c3e50;
  text-align: center;
}

.descriptionDiv{
  color: #2c3e50;
  padding: 5px;
}

.adminInfo{
  text-align: center;
  color: white;
}